<div class="container">
  <div class="row mt-4">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h3>Minhas Inscrições</h3>
      </div>
    </div>

    <% @registrations.each do |registration| %>
      <%= registration.id %>
      <%= registration.status %>
      <%= registration.event.name %>
    <% end %>
  </div>
</div>