<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <%= link_to 'Página Principal', admin_root_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Eventos Castrados', admin_events_path, class: 'list-group-item list-group-item-action bg-light' %>
  </div>
</div>