<div class="container">
  <div class="row mt-4">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h3>Lista de Eventos</h3>
      </div>

      <div class="list-actions">
          <%= link_to new_event_path, class: "btn btn-primary" do %>
          <i class="bi bi-plus-square"></i>
          <% end %>
      </div>

    </div>

    <%= render @events %>
  </div>
</div>